           body{
				padding: 0;
			    margin: 0;
				}
			#to_top{
				background: #CCCCCC;
				width: 30px;
				height: 30px;
				line-height: 15px;
				position: fixed;
				float: left;
				top: 495px;
				right: 10px;
				padding: 0px 10px 20px 10px;
				text-align: center;
				font-size: 14px;
				cursor:pointer;
				display: none;
				z-index: 99;
			}
			#to_top:hover{
				background: #31c27c;
			}
			#to_top img{
				width: 30px;
				height: 30px;
				margin-top: 10px;
			}
			#tal{
				width: 50px;
				height: 50px;
				overflow: hidden;
				position: fixed;
				top: 550px;
				z-index: 99;
				right: 10px;
				background: bisque;
				float: right;
				z-index: 99;
			}
			#tal div:nth-child(1){
				width: 50px;
				height: 50px;
			    position: absolute;
				float: right;
				top: 0px;
				right: 0;
				text-align: center;
				font-size: 14px;
				cursor:pointer;
				background: #CCCCCC;
				z-index: 1;
			}
			#talk img{
				width: 30px;
				height: 30px;
				margin-top: 10px;
				/*margin-left: 19px;*/
			}
			#tal:hover div:nth-child(1){
				top: 100%;
			}
			#tal:hover div:nth-child(2){
				top: 0;
			}
			#talk_t{
				width: 50px;
				height: 50px;
				position: absolute;
				float: right;
				top: 600px;
				text-align: center;
				font-size: 14px;
				cursor:pointer;
				background: #31c27c;
				margin-bottom:10px;
			    color: white;
			}
			#talk_t p{
				line-height: 25px;
			}
			#red_t p{
				line-height: 50px;
			}
			#redios{
				width: 50px;
				height: 50px;
				overflow: hidden;
				position: fixed;
				top: 605px;
				z-index: 99;
				right: 10px;
				background: bisque;
				float: right;
			}
			#redios div:nth-child(1){
				width: 50px;
				height: 50px;
			    position: absolute;
				float: right;
				top: 0px;
				right: 0;
				text-align: center;
				font-size: 14px;
				cursor:pointer;
				background: #CCCCCC;
				z-index: 1;
			}
			#redios img{
				width: 30px;
				height: 30px;
				margin-top: 10px;
				
			}
			#redios:hover div:nth-child(1){
				top: 100%;
			}
			#redios:hover div:nth-child(2){
				top: 0;
			}
			#red_t{
				width: 50px;
				height: 50px;
			    position: absolute;
				float: right;
				top: 600px;
				text-align: center;
				font-size: 14px;
				cursor:pointer;
				background: #31c27c;
				margin-bottom:10px;
			    color: white;
			}